*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
body{
    font-family: Roboto,sans-serif;
    background-color: #E5E5E5;
    align-items: center;
}

.sfondo{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;   
}
.overlay_image{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));

}
.Login{
    background: linear-gradient(#24C6DC, 
    #514a9d);
    width: 100%;
    height: 100vh;
}
.Btn-login{
    border-radius: 50px;
    background-color: rgb(255, 254, 242) !important;
    color: #514a9d !important;
    font-weight: 600;
    padding: 5px !important;
}
.text-login{
    color:white !important;
    font-weight: 600 !important;
}
.arrotonda-card{
    border-radius: 15px;
    border:none;
}
.container-ref{
    padding: 5px;
}
.card-header{
    border-bottom: none !important;
    background-color: rgba(0,0,0,0) !important;
}
.fa-angle-up, .fa-angle-down {
    cursor: pointer;
    color:#9BA7AF;
}
.container_mappa{
    margin: auto !important;
    margin-top: 20px !important;
}
.info_mappa{
    margin: 20px !important;
    margin-top: 20px !important;
    max-width: 1260px !important;
    height: 250px;
}
.titolo_mappa{
    font-size: 36px !important;
    color: #FFB400 !important;
    text-transform: uppercase;
    font-weight: 600; 
    line-height: 40px;
}
.titolo_percorso{
    font-size: 14px !important;
    color: #595A66 !important;
    font-weight: 400; 
    line-height: 40px;
}
.date_viaggio{
    font-size: 26px !important;
    color: #9BA7AF !important;
    font-weight: 400; 
    line-height: 40px;
}
.date_viaggio i{
    color: #FFB400 !important;
    padding: 0 10px !important;
}

.Dot{
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 25px;

}

.Big{
    background-color: #ffb400;
    height: 57px;
    width: 57px;
}

.Medium{
    background-color: #ffb400;
    height: 34px;
    width: 34px;
}

.Medium2{
    background-color: rgb(137, 170, 185);
}

.dotBg{
    background-image: url('http://51.77.82.133:86/images/Ellipse.png');
    background-repeat: repeat-y;
    height: 100%;
    background-size: 8px;
    width: 100%;
    background-position: 50%;
}

.container_data{
    padding-left: 50px !important;
}

.btn_transports{
    border: 1px solid;
    padding: 5px 10px !important;
    color: #0063C9;
}

.fa .fa-map-marker{
    display: block;
}